{
    "DAQ_target" :{
        "P_VCCCORE":-1,
        "P_VCCGT":-1,
        "P_VCCSA":-1,
        "P_VCC_LP_ECORE":-1,
        "P_VDD2_CPU":-1,
        "P_VDDQ_CPU":-1,
        "P_VCCRTC":-1,
        "P_VCCPRIM_VNNAON":-1,
        "P_VCCPRIM_IO":-1,
        "P_VCCPRIM_1P8":-1,
        "P_VCCPRIM_1P8_FLTRA":-1,
        "P_VCCPRIM_1P8_FLTRB":-1,
        "P_VCCPRIM_3P3":-1,
        "P_Memory":-1,
        "P_CPU":-1,
        "P_SOC":-1,
        "P_SOC_MEM":-1,
        "SOC_POWER_RAIL_NAME":"P_SOC",
        "PCORE_POWER_RAIL_NAME":"P_VCCCORE",
        "SA_POWER_RAIL_NAME":"P_VCCSA",
        "GT_POWER_RAIL_NAME":"P_VCCGT"
    },
    "socwatch_targets" : [
        {"key": "CPU_model", "lookup": "CPU native model"},
        {"key": "PCH_SLP50", "lookup": "PCH SLP-S0 State Summary: Residency (Percentage and Time)"},
        {"key": "S0ix_Substate", "lookup": "S0ix Substate Summary: Residency (Percentage and Time)"},
        {"key": "PKG_Cstate", "lookup": "Platform Monitoring Technology CPU Package C-States Residency Summary: Residency (Percentage and Time)"},
        {"key": "Core_Cstate", "lookup": "Core C-State Summary: Residency (Percentage and Time)"},
        {"key": "Core_Concurrency", "lookup": "CPU Core Concurrency (OS)"},
        {"key": "ACPI_Cstate", "lookup": "Core C-State (OS) Summary: Residency (Percentage and Time)"},
        {"key": "OS_wakeups", "lookup": "Processes by Platform Busy Duration"},
        {"key": "CPU-iGPU", "lookup": "CPU-iGPU Concurrency Summary: Residency (Percentage and Time)"},
        {"key": "CPU_Pavr", "lookup": "CPU P-State Average Frequency (excluding CPU idle time)"},
        {"key": "CPU_Pstate", "lookup": "CPU P-State/Frequency Summary: Residency (Percentage and Time)"},
        {"key": "RC_Cstate", "lookup": "Integrated Graphics C-State  Summary: Residency (Percentage and Time)"},
        {"key": "DDR_BW", "lookup": "DDR Bandwidth Requests by Component Summary: Average Rate and Total"},
        {"key": "IO_BW", "lookup": "IO Bandwidth Summary: Average Rate and Total"},
        {"key": "VC1_BW", "lookup": "Display VC1 Bandwidth Summary: Average Rate and Total"},
        {"key": "NPU_BW", "lookup": "Neural Processing Unit (NPU) to Memory Bandwidth Summary: Average Rate and Total"},
        {"key": "Media_BW", "lookup": "Media to Network on Chip (NoC) Bandwidth Summary: Average Rate and Total"},
        {"key": "IPU_BW", "lookup": "Image Processing Unit (IPU) to Network on Chip (NoC) Bandwidth Summary: Average Rate and Total"},
        {"key": "CCE_BW", "lookup": "CCE to Network on Chip (NoC) Bandwidth Summary: Average Rate and Total"},
        {"key": "GT_BW", "lookup": "Chip GT Bandwidth Summary: Average Rate and Total"},
        {"key": "D2D_BW", "lookup": "Chip Die to Die Bandwidth Summary: Average Rate and Total"},
        {"key": "IDI_BW", "lookup": "Cluster1 Cores Bandwidth Summary: Average Rate and Total"},
        {"key": "CPU_temp", "lookup": "Temperature Metrics Summary - Sampled: Min/Max/Avg"},
        {"key": "SoC_temp", "lookup": "SoC Domain Temperatures Summary - Sampled: Min/Max/Avg"},
        {"key": "NPU_Dstate", "lookup": "Neural Processing Unit (NPU) D-State Residency Summary: Residency (Percentage and Time)"},
        {"key": "PMC+SLP_S0", "lookup": "PCH Active State (as percentage of PMC Active plus SLP_S0 Time) Summary: Residency (Percentage)"},
        {"key": "DC_count", "lookup": "Dynamic Display State Enabling"},
        {"key": "Media_Cstate", "lookup": "Media C-State Residency Summary: Residency (Percentage and Time)"},
        {"key": "NPU_Pstate", "lookup": "Neural Processing Unit (NPU) P-State Summary - Sampled: Approximated Residency (Percentage)", "buckets":["0", "1900", "1901-2900", "2901-3899", "3900"]},
        {"key": "MEMSS_Pstate", "lookup": "Memory Subsystem (MEMSS) P-State Summary - Sampled: Approximated Residency (Percentage)"},
        {"key": "NoC_Pstate", "lookup": "Network on Chip (NoC) P-State Summary - Sampled: Approximated Residency (Percentage)", "buckets":["400", "401-1049", "1050"]},
        {"key": "iGFX_Pstate", "lookup": "Integrated Graphics P-State/Frequency Summary - Sampled: Approximated Residency (Percentage)", "buckets":["0", "400", "401-1799", "1800-2499", "2500"]}
    ],
    "PCIe_targets" : [
        {"key": "PCIe_LPM", "devices":["NVM"], "lookup": "PCIe LPM Summary - Sampled: Approximated Residency (Percentage)"},
        {"key": "PCIe_Active", "devices":["NVM"], "lookup": "PCIe Link Active Summary - Sampled: Approximated Residency (Percentage)"},
        {"key": "PCIe_LTRsnoop", "devices":["NVM"], "lookup": "PCIe LTR Snoop Summary - Sampled: Histogram"}
    ],
    "Second_folder_list" : ["ETL", "POWER", "SOCWATCH", "PCIE"]
}