{
  "power_rails": [
    "P_VCCCORE",
    "P_VCC_LP_ECORE",
    "P_VCCGT",
    "P_VCCSA",
    "P_VDD2_CPU",
    "P_VDDQ_CPU",
    "P_VCCPRIM_VNNAON",
    "P_VCCPRIM_IO",
    "P_SOC",
    "P_Memory",
    "P_SSD_GEN4"
  ],
  "time_ranges": [
    {"start": 12280, "end": 15090, "name": "File_Compression"},
    {"start": 19850, "end": 21620, "name": "Navigation"},
    {"start": 26520, "end": 27750, "name": "HTML5_Browse"},
    {"start": 32320, "end": 34390, "name": "PDF_Rendere"},
    {"start": 39130, "end": 42450, "name": "Photo_Library"},
    {"start": 47020, "end": 51420, "name": "Clang"},
    {"start": 55780, "end": 60990, "name": "Text_Processing"},
    {"start": 65390, "end": 67010, "name": "Asset_Compression"},
    {"start": 71250, "end": 73300, "name": "Object_Detection"},
    {"start": 77750, "end": 79590, "name": "Background_Blur"},
    {"start": 83970, "end": 85080, "name": "Horizon_Detection"},
    {"start": 89550, "end": 92110, "name": "Object_Remover"},
    {"start": 96500, "end": 98000, "name": "HDR"},
    {"start": 102310, "end": 104020, "name": "Photo_Filter"},
    {"start": 108290, "end": 110080, "name": "Ray_Tracer"},
    {"start": 114340, "end": 115770, "name": "Structure_from_Motion"}
  ]
}
